body {
  width: 1000px;
  border: 1px solid red;
  margin: auto;  
  padding: 10px;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  font-family: "Arial", sans-serif; 
  background-color: rgb(204, 255, 230);
}